@use 'functions' as *;

@keyframes flip-in {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(-90deg);
  }
}

@keyframes flip-out {
  from {
    transform: rotateX(-90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

.flip-in {
  animation: flip-in 250ms;
  animation-fill-mode: forwards;
}

.flip-out {
  animation: flip-out 250ms;
  animation-fill-mode: forwards;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(rem(-10));
  }
  100% {
    transform: translateY(0);
  }
}

.jump {
  animation: jump 250ms;
  animation-fill-mode: forwards;
}
